.DS_Store
.idea
__pycache__
letter_for_*
us-states-game/states_to_learn.csv
a_file.txt
password-manager/data.json
flash-card-project/data/words_to_learn.csv
day-38-workout-tracker/config.json
flight-deals/.env
flight-deals/sample_response.json
flight-deals/sample_response2.json
flight-deals/note.log
